body{
	font-family: SourceSansProLight, Verdana, Arial, sans-serif;
	font-size: 14px;
}
.readmore{
	background-color: black;
	padding: 5px 10px;
	display: inline-block;
	color: white;
	text-decoration: none;
	border-radius: 3px;
}
.readmore:hover{
	background-color: #8DA9DB;
}
#clan_grupa{
	position: absolute;
	top: 0;
	left: 0;
}